.cloud-why-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 50px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 20px;
    column-gap: 120px;
    background-color: #e8b541;
    padding-bottom: 20px;
   
}
.cloud-why-container .cloud-why-sub{
   border-radius: 10px;
    background-color: white;
    color: black;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    /* height: 18vh; */
}
.cloud-why-container .cloud-why-sub:hover{
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.answer{
    font-weight: lighter;
    padding-left: 10px;
}
.cloud-head2{
    color: black;
}
/* ************responsive**************** */



/* For screens ≤ 1024px */
@media screen and (max-width: 1024px) {
    .cloud-why-container {
        column-gap: 50px;
        gap: 40px;
        padding: 20px 30px;
    }
}

/* For screens ≤ 768px */
@media screen and (max-width: 768px) {
    .cloud-why-container {
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        gap: 30px;
        column-gap: 0;
    }

}

/* For screens ≤ 600px */
@media screen and (max-width: 600px) {
    .cloud-why-container {
        padding: 15px;
        gap: 20px;
    }

    .cloud-why-container .cloud-why-sub {
        padding: 15px;
        font-size: 14px;
        /* text-align: center; */
    }

    .answer {
        font-size: 12px;
        padding-left: 5px;
    }
}

/* For screens ≤ 480px */
@media screen and (max-width: 480px) {
  .cloud-why-container {
    grid-template-columns: repeat(1, 1fr);
    padding: 15px;
    gap: 20px;
}
    .cloud-why-container .cloud-why-sub {
        padding: 12px;
        font-size: 12px;
        text-align: center;
    }

    .answer {
        font-size: 11px;
        padding-left: 3px;
    }
}
